/* PHONE */
@media only screen and (min-width: 0px) and (max-width: 1000px) {



    body {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    h1 {
        color: white;
        text-align: center;
        background-color: black;
        padding: 30px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        width: 100%;
        /* height: 100%; */
        margin: 0px;
    }

    h2 {
        font-size: 42px;
    }

    p {
        text-align: center;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }


    input {
        margin: 10px;
    }

    input[type="submit"] {
        background-color: #010301;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        width: 90%;
        height: 7vh;
        font-size: 55px;
    }

    input[type="submit"]:hover {
        background-color: #4b4b4b;
    }


    .button {
        background-color: #010301;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px;
        width: 78vw;
        height: 6vh;
        font-size: 55px;
    }

    .button:hover {
        background-color: #4b4b4b;
    }


    /* input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    } */

    input[type="text"],
    input[type="email"] {
        font-size: 55px;
        /* Increase font size for smaller screens */
        padding: 15px;
        /* Increase padding */
    }


    input[type="text"]:focus {
        outline: none;
        border-color: #007bff;
    }

    input[type="radio"] {
        transform: scale(3);
        /* Increase scale for smaller screens */
    }

    button {
        color: white;
        background-color: black;
        margin: 10px;
        width: 230px
    }

    img {
        width: 70%;
        height: 35%;
    }


    form {
        width: 100%;
        height: 100%;
        margin: 10 auto;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    label {
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        font-size: 55px;
        /* Increase font size for smaller screens */
        padding: 15px;
        /* Increase padding */
    }

    .score-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .handbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 48vh;
    }

    .handboxbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52vh;
    }

    .handboxresult {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        height: 50%;
        width: 100%;

        img {
            width: 67%;
            height: 45%;
        }
    }

    .lookaway {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(108, 185, 200, 0.5);
        width: 100%;
        height: 55px;
        font-size: 14px;
    }

    #game-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .shadow-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

}


/* DESKTOP */
@media only screen and (min-width: 1001px) and (max-width: 4096px) {

    body {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }

    h1 {
        color: white;
        text-align: center;
        background-color: black;
        width: 100vw;
        margin: 0px;
        padding: 30px 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        /* text-align: center; */
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }


    input {
        margin: 10px;
    }

    input[type="submit"] {
        width: 220px;
        background-color: #010301;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    input[type="submit"]:hover {
        background-color: #4b4b4b;
    }


    .button {
        width: 220px;
        background-color: #010301;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    .button:hover {
        background-color: #4b4b4b;
    }


    input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }


    input[type="text"]:focus {
        outline: none;
        border-color: #007bff;
    }


    button {
        color: white;
        background-color: black;
        margin: 10px;
        width: 230px
    }

    img {
        width: 120px;
        height: 80px;
    }

    form {
        width: 60%;
        margin: 10 auto;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    label {
        margin: 5px;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .score-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .handbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .handboxbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .handboxresult {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lookaway {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background-color: rgba(108, 185, 200, 0.5);
        width: 100%;
        height: 55px;
        font-size: 14px;
    }

    #game-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 385px;
    }

    .shadow-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        /* Apply box shadow */
        border-radius: 5px;
    }


}