<p><strong>Select number of players:</strong></p>
<div class="shadow-box">

    <form action="javascript:void(0);" onsubmit="numberOfPlayerFunction()">
        <input type="radio" id="option1" name="numberOfPlayer" value="1">
        <label for="option1">1 PLAYER</label><br><br>

        <input type="radio" id="option2" name="numberOfPlayer" value="2" required>
        <label for="option2">2 PLAYERS</label><br>
        <br>

        <input type="submit" value="NEXT">
    </form>
</div>