<p><strong>Select number of players:</strong></p>
<div class="shadow-box">
<form action="javascript:void(0);" onsubmit="submitPlayerInfoTwo()">
    <label for="name">Enter Player One name:</label><br>
    <input type="text" id="nameOne" name="nameOne" required><br>
    <label for="name">Enter Player Two name:</label><br>
    <input type="text" id="nameTwo" name="nameTwo" required><br>

    <label for="name">Select Number of Rounds</label><br>

    <input type="radio" id="option1" name="rounds" value="1">
    <label for="option1">ONE</label><br>

    <input type="radio" id="option2" name="rounds" value="3">
    <label for="option2">THREE</label><br>

    <input type="radio" id="option3" name="rounds" value="5">
    <label for="option3">FIVE</label><br>

    <input type="radio" id="option4" name="rounds" value="7" required>
    <label for="option4">SEVEN</label><br>
    <br>

    <input type="submit" value="START GAME">
</form>
</div>